/**
 * LeftPanel Styles
 */

.left-panel {
  position: relative;
  height: 100%;
  background: var(--bg-1);
  transition: width 200ms ease;
  overflow: hidden;
  border-right: 1px solid var(--bg-3);
}

.left-panel--closed {
  width: 0 !important;
  border-right: none;
}

.left-panel__content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.left-panel__drag-handle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 6px;
  cursor: col-resize;
  z-index: 10;
  transition: background-color 150ms ease;
}

.left-panel__drag-handle:hover {
  background-color: var(--color-border-2);
}

.left-panel__drag-handle:active {
  background-color: var(--color-border-3);
}

